@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap');
* {
    font-family: 'Playfair Display', serif;
}

.bannerBgImage {
    height: 100vh;
    background: url("/images/banner.jpg");
    background-size: cover;
    position: relative;
}

.bannerText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bannerTitle {
    font-size: 4rem;
}

.bannerDesc {
    font-size: 2rem;
}

.card {
    cursor: pointer;
}

.card-body {
    background-color: bisque;
}

.card:hover {
    background-color: palevioletred;
    border: 2px solid rgb(83, 51, 188);
}

.img-fluid {
    border: 2px solid blue;
    border-radius: 50%;
}

.img-fluid:hover {
    border: 2px solid yellowgreen;
}

.card-img-top {
    height: 50vh;
}

.bIcon {
    height: 50vh;
}